<div class="center hero-unit">
	<h1>NFL Draft Live</h1>
	<% if @order ==nil %>
		<h2> The draft is currently over. </h2>
	<% else %>
		<h2> You are viewing the Draft Tracker Live! </h2>
	<% end %>
</div>
<% if @order ==nil %>
<%= render partial: 'shared/draft_over' %>
<% else %>

<%= render partial: 'shared/order_info' %>
<% end %>

<div class="last-three">
	<h3 class="pull-left"> Last Three Draft Picks </h3>
	<section class="row bold">
		<div class="span3 offset1">
			<span>
				<strong>Name</strong>
			</span>
		</div>
		<div class="span2">
			<span>
				<strong>Position</strong>
			</span>
		</div>
		<div class="span3">
			<span>
				<strong>Team</strong>
			</span>
		</div>
		<div class="span1">
			<span>
				<strong>Round</strong>
			</span>
		</div>
		<div class="span1">
			<span>
				<strong>Pick</strong>
			</span>
		</div>
	</section>
	<%= render @latest %>
</div>