<div class="container">
	<section class="row">
		<div class="span3 offset1">
			<span>
				Round: <%= @order.round %>
			</span>
		</div>
		<div class="span3">
			<span>
				Pick: <%= @order.pick %>
			</span>
		</div>
		<div class="span3">
			<span>
				Team: <%= @team.name %>
			</span>
		</div>
	</section>
</div>