<div class="container order-info">
	<div class="center">
		<strong>Current Draft Selection</strong>
	</div>
	<section class="row">
		<div class="span3 offset1">
			<span>
				Round: <%= @order.round %>
			</span>
		</div>
		<div class="span2">
			<span>
				Pick: <%= @order.pick %>
			</span>
		</div>
		<div class="span6">
			<span>
				Team: <%= @team.name %>
			</span>
		</div>
	</section>
</div>